### Android/Kotlin specific ###
*.iml
.gradle/
/local.properties
/.idea/
.idea/
build/
/captures/
.externalNativeBuild/
.cxx/

### Android Studio ###
*.apk
*.ap_
*.aab
*.dex
*.class

### Build files ###
/app/build/
/app/release/
/app/debug/

### Keystore files ###
*.jks
*.keystore

### Log Files ###
*.log

### Android Studio Navigation editor temp files ###
.navigation/

### Android Studio captures folder ###
captures/

### Gradle files ###
gradle-app.setting
.gradletasknamecache
build.gradle.kts

